
@import url('https://fonts.cdnfonts.com/css/akrobat');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body {
  font-family: "Akrobat"; font-size: 16px; text-rendering: optimizeLegibility; font-weight: initial;
  overflow-x: hidden; overflow: hidden;
  background: transparent;
  user-select: none; -webkit-user-drag: none;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    height: 185px;
    width: 185px;
}

.key-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.key {
    width: 8.0vh;
    height: 8.0vh;
    left: 56.0%;
}

.triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bounce 0.4s ease infinite alternate;

    border-left: 1.5vh solid transparent;
    border-right: 1.5vh solid transparent;
    border-top: 1.9vh solid #cacaca;
    z-index: 1;
}

@keyframes bounce {
    0%   { transform: translate(-50%, -200%); }
    100% { transform: translate(-50%, -235%); }
}

.e-text {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -49%);
    color: #000000;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Akrobat Black';
    letter-spacing: 0.06rem;
    font-size: 2.2rem;
    border-radius: 8px;
}

.lock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.349);
    font-size: 48px;
    color: #ffffff;
    animation: wiggle 0.4s ease infinite alternate;
}

.unlock {
    position: absolute;
    top: 50%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.349);
    font-size: 48px;
    color: #ffffff;
    animation: wiggle 0.4s ease infinite alternate;
}

@keyframes wiggle {
    0%   { transform: translate(-50%, -50%) rotate(0deg); }
    80%  { transform: translate(-50%, -50%) rotate(0deg); }
    85%  { transform: translate(-50%, -50%) rotate(5deg); }
    95%  { transform: translate(-50%, -50%) rotate(-5deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
}
